{erl_opts, [debug_info]}.

{deps,[
       {meck, "0.8.*", {git, "git://github.com/cjimison/meck.git", {branch, "0.8.x"}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
